body {
  background-color: #E87A64;
  margin: 0;
  
}
.sidebar {
  display: none;
}

.sidebar a {
  text-decoration: none;
}
.sidebar-link {
  
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;


}

.sidebar-link img {
  height: 30px;
  width: 30px;
  object-position: center;
  border-radius: 50%;
  margin-bottom: 4px;

}
.sidebar-link div {
  font-family: Roboto, Arial;
  font-size: 12px;
  color: #F7F4F4;
}